.chat {
  height: 100%;
  display: flex;
  flex-direction: column;

  .messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;

    h1 {
      font-weight: 300;
    }
  }
  .chatBox {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
      display: flex;
      justify-content: space-between;
      background-color: #f7c14b85;
      padding: 20px;
      font-weight: bold;
      align-items: center;

      .user {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      img {
        height: 30px;
        width: 30px;
        object-fit: cover;
        border-radius: 50%;
      }

      .close {
        cursor: pointer;
      }
    }
    .center {
      overflow: scroll;
      height: 350px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .chatMessage{
        width: 50%;

        &.own{
            align-self: flex-end;
            text-align: right;
        }

        span{
            font-size: 12px;
            background-color: #f7c14b85;
            padding: 2px;
            border-radius: 5px;
        }
      }
    }
    .bottom {
      border-top: 2px solid #f7c14b85;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;

      button {
        flex: 1;
        border: none;
        height: 100%;
        background-color: #f7c14b85;
        cursor: pointer;
      }

      textarea {
        flex: 3;
        height: 100%;
        border: none;
        padding: 20px;
      }
    }
  }
}
