@import "../responsive.scss";

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  @include sm {
    flex-direction: column-reverse;
    align-items: center;
  }

  .headerWrapper {
    width: 66.66667%;

    @include md{
        width: auto;
    }
    .wrapper {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      height: 100%;

      @include lg {
        gap: 20px;
      }

      @include md {
        padding: 0;
      }

      .title {
        font-size: 60px;

        @include lg {
          font-size: 3em;
        }

        @include sm {
          font-size: 32px;
        }
      }

      p {
        @include sm {
          font-size: 16px;
        }
      }

      .boxes {
        display: flex;
        justify-content: space-between;

        @include sm {
          display: none;
        }

        h2 {
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
  }

  .imgWrapper {
    display: flex;
    align-items: center;
    position: relative;

    @include lg {
      position: absolute;
      right: 0;
      width: 33.333333%;

    }

    @include md {
      display: none;
    }

    @include sm {
      display: block;
      position: relative;
      width: auto;
      z-index: -1;
    }

    .img {
      flex: 2;
      object-fit: contain;
    }
  }
}
