@import "../responsive.scss";
.profile {
  display: flex;
  height: 100%;

  @include md {
    flex-direction: column;
  }

  .details {
    flex: 3;
    // overflow-y: scroll;
    padding-bottom: 50px;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          font-weight: 300;

          @include lg {
            font-size: 28px;
          }
        }

        button {
          padding: 12px 24px;
          background-color: #f5ac0f;
          border: none;
          font-weight: 500;
          color: white;
          cursor: pointer;
          transition: all 0.4s ease;

          &:hover {
            scale: 1.05;
            background-color: #be8509;
            color: beige;
          }
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          display: flex;
          align-items: center;
          gap: 14 px;
        }
      }
    }
  }
  .chatContainer {
    flex: 2;
    background-color: #e9dac9c9;
    height: 100%;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding: 0px 20px;
      height: 100%;
    }
  }
}
