@import '../responsive.scss';

nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    a{
        transition: all 0.4s ease;

        @include sm{
            display: none;
        }

        &:hover{
            scale: 1.15;
        }

    }

    .left{
        flex:3;
        display: flex;
        align-items: center;
        gap: 50px;

        @include md{
            gap: 40px;
        }


        .logo{
            display: flex;
            align-items: center;
            font-weight: bold;
            color: #63431d;
            gap: 10px;
            
            img{
                width: 48px;

            }

            span{
                font-weight: bolder;

                @include md{
                    display: none;
                }

                @include sm{
                    display: initial;
                }
            }

        }
    }

    .right{
        flex:2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        background-color: #e9dac9c9;
        height: 100%;

        @include md{
            background-color: transparent;
        }


        .user {
            display: flex;
            align-items: center;
            gap: 20px;
            font-weight: bold;

            img {
              width: 40px;
              height: 40px;
              object-fit: cover;
              border-radius: 100%;
            }

            span{
                @include sm{
                    display: none;
                }
            }

            .profile{
                padding: 12px 24px;
                background-color:#f5ac0f ;
                cursor: pointer;
                margin-right: 10px;
                position: relative;
                @include sm{
                    display: none;
                }

                .notification{
                    position: absolute;
                    background-color: red;
                    color: whitesmoke;
                    top: -8px;
                    right: -8px;
                    border-radius: 50%;
                    width: 26px;
                    height: 26px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
          }
        
        a{
            padding: 12px 24px;

            @include md{
                padding: 10px;
            }
        }

        .register{
            background-color:#f5ac0f ;
            color: #fff;
            font-weight: bold;
        }
        
        .menuIcon{
            display: none;     
            z-index: 999;// for absolute cases you want to raise the z-index to be able to see the icon/item     

            @include sm{
                display: initial;
                cursor: pointer;
                font-size: 30px;

                &.active{
                    color: white;
                }
            }
        }

        .menu{
            display: none;
           
            @include sm{
                display:flex;
                position: absolute;
                top: 0;
                right: -50%;
                background-color:black;
                height: 100vh;
                color:white;
                width: 50%;
                transition: all 1s ease;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 16px ;
                gap: 10px;
    
            }
            
            //when open is true the class name is both active and menu
            &.active{
                right:0;
                position: fixed;// fixes the navbar in position on scroll

            }
            // initially on line 10 we added display none for a in sm screens
            //so we have to change this here 
            @include sm{
                a{
                    display: initial;
                }
            }
        }

    }
}